body{            
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 5%;

        }
    
header {
        padding: 5%;
        padding-light: -2%;
        border-color: #333;
        border-style: solid;
        border-width: 0 0 1px 0;
        background: #333;
        color: #FFF;
        }

h1      {
        font-weight: bold;
        font-size: 240%;
        padding-left: 0.5%;                    
        }

h2      {
        font-weight: bold;
        font-size: 130%;
        padding-left: 1%;                    
        }

h3      {
        font-weight: bold;
        font-size: 100%;
        padding-left: 2%;                   
        }

p       {                    
        padding-left: 3%;
        line-height: 1em;
        }

br      {
        white-space: pre-wrap;
        }

li      {
        line-height: 2em;

        }        
        
    

#box {
        margin: 5%;
        padding-left: -7%;
        margin-right: -20%;
        padding-right: -20%;
        padding-bottom: 3%;
        width: 92%;
        height: 500%;
        border: 3px solid #ffc341;
        background-color: #fbffbd;
        box-sizing:border-box;
        border-radius: 10px; /* ボックスの四つ角を丸くする */
        }

#box li {
        list-style-type: none;
        }
        
table   {
        border-collapse: collapse;
        margin: 5%;
        }

th, td {
        border: 1px solid #ffc341;
        padding: 4%;
        text-align: left;
        }

th     {
        background-color: #fbffbd;
        font-weight: bold;
        }
                
.code  {
        font-family: monospace;
        background-color: #fbffbd;
        padding: 5%;
        border-radius: 5%;
        }
                        
html   {
        scroll-behavior: smooth;
        }

.pagetop {
          height: 50px;
          width: 50px;
          position: fixed;
          right: 30px;
          bottom: 30px;
          background: #fff;
          border: solid 2px #000;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 2;
          }

.pagetop__arrow {
                 height: 10px;
                 width: 10px;
                 border-top: 3px solid #000;
                 border-right: 3px solid #000;
                 transform: translateY(20%) rotate(-45deg);
        	 }
